set smooth
set softwrap
set nowrap
set nohelp
set autoindent
#set indicator #scroll bar

bind   ^]           cutwordleft         main

# ls -1 $BREW_PREFIX/share/nano/*.nanorc | sed 's/^\//include \//' >> ~/.nanorc
include $BREW_PREFIX/share/nano/asm.nanorc
include $BREW_PREFIX/share/nano/autoconf.nanorc
include $BREW_PREFIX/share/nano/awk.nanorc
include $BREW_PREFIX/share/nano/c.nanorc
include $BREW_PREFIX/share/nano/changelog.nanorc
include $BREW_PREFIX/share/nano/cmake.nanorc
include $BREW_PREFIX/share/nano/css.nanorc
include $BREW_PREFIX/share/nano/default.nanorc
include $BREW_PREFIX/share/nano/elisp.nanorc
include $BREW_PREFIX/share/nano/email.nanorc
include $BREW_PREFIX/share/nano/go.nanorc
include $BREW_PREFIX/share/nano/groff.nanorc
include $BREW_PREFIX/share/nano/guile.nanorc
include $BREW_PREFIX/share/nano/html.nanorc
include $BREW_PREFIX/share/nano/java.nanorc
include $BREW_PREFIX/share/nano/javascript.nanorc
include $BREW_PREFIX/share/nano/json.nanorc
include $BREW_PREFIX/share/nano/lua.nanorc
include $BREW_PREFIX/share/nano/makefile.nanorc
include $BREW_PREFIX/share/nano/man.nanorc
include $BREW_PREFIX/share/nano/markdown.nanorc
include $BREW_PREFIX/share/nano/nanohelp.nanorc
include $BREW_PREFIX/share/nano/nanorc.nanorc
include $BREW_PREFIX/share/nano/nftables.nanorc
include $BREW_PREFIX/share/nano/objc.nanorc
include $BREW_PREFIX/share/nano/ocaml.nanorc
include $BREW_PREFIX/share/nano/patch.nanorc
include $BREW_PREFIX/share/nano/perl.nanorc
include $BREW_PREFIX/share/nano/php.nanorc
include $BREW_PREFIX/share/nano/po.nanorc
include $BREW_PREFIX/share/nano/python.nanorc
include $BREW_PREFIX/share/nano/ruby.nanorc
include $BREW_PREFIX/share/nano/rust.nanorc
include $BREW_PREFIX/share/nano/sh.nanorc
include $BREW_PREFIX/share/nano/sql.nanorc
include $BREW_PREFIX/share/nano/tcl.nanorc
include $BREW_PREFIX/share/nano/tex.nanorc
include $BREW_PREFIX/share/nano/texinfo.nanorc
include $BREW_PREFIX/share/nano/xml.nanorc
include $BREW_PREFIX/share/nano/extra/ada.nanorc
include $BREW_PREFIX/share/nano/extra/debian.nanorc
include $BREW_PREFIX/share/nano/extra/fortran.nanorc
include $BREW_PREFIX/share/nano/extra/gentoo.nanorc
include $BREW_PREFIX/share/nano/extra/haskell.nanorc
include $BREW_PREFIX/share/nano/extra/povray.nanorc
include $BREW_PREFIX/share/nano/extra/spec.nanorc
